<%= form_for(@loc) do |f| %>
  <% if @loc.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@loc.errors.count, "error") %> prohibited this loc from being saved:</h2>

      <ul>
      <% @loc.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
