<div id="profile_image">
		<%= image_tag "top.jpg", :size => '800x300' %>
	</div>

	<div id="content">
		<h1>国東半島などを紹介します</h1>
		<p>　初めてのホームページ です。
			　これから、国東半島などを紹介していきたいと思います。
			  写真は、大分県国東市国見町の千燈岳（６０５ｍ）の山頂から見た両子山（右）と文殊山（左）です。
			　恥ずかしながら、地元の目の前にあるのに初めてこのゴールデンウィークに登りました。きっかけは、近所のYさんから誘いでした。
			　このホームページを作るきっかけになったのも、Yさんに感化してからです。これから、楽しんでやっていきたいと思いますので、よろしくお願いします。
			 
			　ご感想などありましたら、掲示板でお願いします。</p>

			<button type="button" class="btn btn-default">グルメ</button>

			<button type="button" class="btn btn-default">観光</button>

			<button type="button" class="btn btn-default">イベント</button>

			<button type="button" class="btn btn-default">秘蔵スポット</button>

	</div>