// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#profile_image {
max-width : 100% ;
width: 800px;
height: 200px;
}



#content {
   max-width : 100% ;
	width: 800px;
}

.port {
	margin-top: 40px;
	margin-bottom: 40px;
   max-width : 100% ;
}

.port:after {
   content: "";
   clear: both;
   display: -webkit-flex;
}

.port article {
   max-width : 100% ;
   width: 250px;
   float: left;
   margin-left: 25px;
}

.port article:first-child {
	margin-left: 0;
}