// Place all the styles related to the Pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.pict {
	margin-bottom: 300px;
	width: 40px;
	font-size: 400px;
}

.pict img{
	width:40px;
	height: 40px;
}



.port {
	margin-top: 40px;
	margin-left: 40px;
	margin-bottom: 40px;
	max-width : 100% ;
}

.port:after {
	content: "";
	clear: both;
	display: block;
}

.boxA { 
	width:400px;
	float:left;
    overflow:auto;}


.boxB { 
	width:400px;
	float:left;
	padding-left: 40px;
	margin-bottom: 180px;
 }    


.boxC { 
	width:400px;
	float:left;
 }    

.boxC a img{
		width: 100px;
		height: 100px;
	}
