// Place all the styles related to the Pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.port {
	width: 800px;
	margin-top: 40px;
	margin-bottom: 40px;
}

.boxA { width:400px;height:100px;float:left; }  
.boxB { width:400px;height:100px;float:left; }  
.boxC { width:400px;height:100px;float:left; }  