// Place all the styles related to the Pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.pict {
	margin-bottom: 300px;
	width: 40px;
	font-size: 400px;
}

.pict img{
	width:40px;
	height: 40px;
}

.title {
	background-color: #CCCCCC;

}



.port {
	margin-top: 40px;
	margin-left: 40px;
	margin-bottom: 40px;
	max-width : 100% ;
}

.port:after {
	content: "";
	clear: both;
	display: block;
}
.box0 { 
	float:left;}

.box0 sec {
   max-width: 100%;
   float: left;
   margin-left: 100px;
   overflow:auto;
}

.box0 sec:first-child {
	margin-left: 0;
}


.boxA { 
	width:400px;
	float:left;
    overflow:auto;}


.boxB { 
	width:400px;
	float:left;
	padding-left: 40px;
	margin-bottom: 180px;
 }    


.boxC { 
	width:400px;
	float:left;
 }    

.boxC a img{
		width: 100px;
		height: 100px;
	}
